@import '_pc_reset.scss';

/*page style*/

$white : #FFF;

#header{ 
	background: url(../images/header-bg.jpg) no-repeat;  
	background-size: cover; 
	height: 690px; 

	#header-text{
		color: $white;
		width: 1100px;
		margin: 0 auto;
		padding-top: 220px;
		
		h2{
			font-size: 60px;
			margin-bottom: 20px;
		}

		h3{
			font-size: 21px;
			margin-bottom: 10px;
		}
		
		

		button{
			background: #e7504d;
			border: none;
			color: $white;
			font-size: 30px;
			font-weight: bold;
			width:330px;
			height: 62px;
			text-align: center;
			line-height: 62px;
			margin-top: 70px;
		}
	}
}

.section{
	background: #FFF;
	&#bannar-intro{
		height: 250px;
		padding-top: 45px;
		.section-inner{
			width: 1100px;
			margin: 0 auto;

			dl{
				float: left;
				position: relative;
				width: (1100px /4);
				
				dt{
					text-align: center;
					i{
						display: inline-block;
						background: url(../images/icon.png) no-repeat;
						width:50px;
						height: 50px;
						&.circle{
							background-position: -38px -30px; 
						}

						&.flag{
							background-position: -365px -30px ;
						}

						&.flower{
							background-position: -670px -30px;
						}

						&.diamond{
							background-position: -990px -30px;
						}
					}
				}
				dd{
					font-size: 14px;
					font-weight: normal;
					color: #767777;
					text-align: center;
					padding-top: 40px;
					line-height: 22px;
				}
				dd.bannar-item-line{
					position: absolute;
					padding-top: 0;
					right: 0;
					top:90px;
					border-left: 1px solid #aba6a5;
					border-right: 1px solid #bcb8b6;
					height: 50px;
				}
			}
		}
	}

	&#bannar-new-world{
		height: 360px;
		background: #ededec;
		.section-inner{
			text-align: center;
			i{
				display: inline-block;
				background: url(../images/icon.png) no-repeat -38px -155px;
				width: 105px;
				height: 100px;
				margin: 90px 0 45px;
			}
			h2{
				color: #867e7a;
				font-weight: normal;
				font-size: 54px;
				text-align: center;
			}
		}
	}

	&#address-box{
		background: url(../images/adds-bg.jpg) no-repeat;
		background-size: cover;
		height: 340px;
		text-align: center;
		color: #FFF;
		h3{
			padding-top: 50px;
			height: 21px;
			line-height: 21px;
			font-size: 21px;
			i{
				position: relative;
				height: 100%;
				span{
					position: absolute;
					left: -1px;
					bottom: -5px;
					width: 21px;
					border-bottom: 2px solid #FFF;
				}	
			}
		}
		p{
			font-size: 12px;
			padding-top: 20px;
		}
		.address-formbox{
			width: 1030px;
			margin: 0 auto;
			margin-top: 40px;
			.address-formbox-inner{
				width: 1200px;
				.address-form-item{
					position: relative;
					width: (1030px / 4 ) - 20;
					height: 36px;
					margin-right: 27px;
					float: left;
					span{
						&.drop-icon{
							background: url(../images/icon.png) no-repeat -363px -220px;
							display: inline-block;
							width: 20px;
							height: 20px;
							position: absolute;
							right: 5px;
							top: 8px;
						}
					}
					input{
						position: absolute;
						left: 0;
						top: 0;
						border: 1px solid #e3d6cc;
						width: 100%;
						height: 34px;
						line-height: 34px;
						padding-left: 10px;
						box-sizing: border-box;
						&.line{
							border: 1px solid #c16e5f;
						}
						&#submit-btn{
							width: 100%;
							height: 34px;
							line-height: 34px;
							text-align: center;
							background: #be4f48;
							border: none;
							color: #FFF;
							font-size: 12px;
							font-weight: bold;
							cursor: pointer;
						}
					}
					.drop-item{
						position: absolute;
						top: 33px;
						left: 0px;
						width: 100%;
						background: #e3e3e4;
						border: 1px solid #c16e5f;
						border-top: none;
						box-sizing: border-box;
						z-index: 9999;
						ul{
							padding-bottom: 15px;
							li{
								text-align: left;
								height: 26px;
								line-height: 26px;
								padding-left: 30px;
								position: relative;
								color: #333333;
								&.on{
									background: #be4f48;
									color: #FFF;
									cursor: pointer;
									i{
										position: absolute;
										top: 0px;
										left: 10px;
									}
									
								}
							}
						}
					}
					
				}
			}

		}
	}

	&#products{
		padding-top: 100px;
		padding-bottom: 100px;
		background: #f7f7f7;
		.products-wrap{
			width: 990px;
			margin: 0 auto;
			overflow: hidden;
			zoom: 1;
			.products-inner{
				width: 1100px;
			}
		}

		dl{
			margin-right: 23px;
			float: left;
			width: 230px;
			height: 400px;

			&.products-big{
				position: relative;

				dt{
					position: absolute;
					bottom: 0;
					left: 0;

				}
				.products-title{
					width: 80%;
					margin: 0 auto;
					text-align: justify;
					text-align-last:justify;
					a{
						display: block;
						font-weight: bold;
						font-size: 16px;
						text-align: justify;
						text-align-last:justify;
						width: 100%;
						color: #666;
					}
				}
			}

			dt{
				width: 200px;
				height: 310px;
				padding: 8px 12px;
				border: 1px solid #d0ccca;
				background: #FFF;
			}

			dd{
				text-align: center;
			}
			.products-title{
				font-size: 14px;
				height: 28px;
				line-height: 28px;
				a{
					color: #333333;
				}
			}

			.products-intro{
				font-size: 12px;
				a{
					color: #786f6c;	
				}
				
			}
		}
	}

	&#scroll-box{
		
		height: 565px;
		overflow: hidden;
		zoom: 1;
		#scroll-box-thumb{
			float: left;
			width: 66.66%;
			height: 565px;
			background: url(../img/scroll-thumb.jpg) no-repeat left center;
			background-size: cover;
		}

		#scroll-box-text{
			width: clac(100-66.66)+%;
			float: left;
			background: #FFF;
			overflow: hidden;
			zoom: 1;
			height: 100%;

			#scroll-box-content{
				width: 300px;
				padding-left: 60px;
				padding-top: 150px;
				height: 300px;
				h3{
					text-align: center;
					font-size: 26px;
					height: 30px;
					line-height: 30px;
					padding-bottom: 20px;
					i{
						color: #e7504d;
					}
				}

				p{
					font-size: 12px;
					color: #aaaaaa;
					line-height: 22px;
				}

				.scroll-box-content-item{
					text-align: center;
					p{
						text-align: left;
						height: 160px;
						overflow: hidden;
					}

					a{
						margin-top: 10px;
						border: 1px solid #e46868;
						color: #e46868;
						padding: 8px 30px;

					}
				}
			}

			
		}

		#scroll-page{
			text-align: center;
			width: 300px;
			padding-left: 60px;
			i{
				display: inline-block;
					background: url(../images/icon.png) no-repeat;
					background-position: -707px -233px;
					margin-right: 5px;
					width: 14px;
					height: 14px;
				&.active{
					background-position: -682px -233px;
				}	
			}


			}
	}


	&#section-tab{
		.section-tab-item{
			width: (100%/3);
			height: 520px-160;
			padding-top: 160px;
			float: left;
			.section-tab-item-content{
				text-align: center;
				h3{
					color: #FFF;
					font-weight: normal;
					font-size: 21px;
					margin-bottom: 8px;
				}
				p{
					font-size: 21px;
					color: #FFF;
					margin-bottom: 15px;
				}
				a{
					color: #FFF;
					padding: 8px 40px;
					border: 1px solid #FFF;
					font-size: 20px;
				}

				hr{
					width: 30px;
					margin: 0 auto;
					color: #FFF;
					border: 1px solid #FFF;
					margin-bottom: 24px; 
				}
				&.section-tab-item-red{
					h3{
						color: #000;
					}
					p{
						color: #000;
					}
					a{
						color: #e7504d;
						border: 1px solid #e7504d;					}

					hr{
						border: 1px solid #000;
					}
				}
			}

			&.section-tab-item-first{
				background: #e7504d;
			}

			&.section-tab-item-sec{
				background: #fff;
			}

			&.section-tab-item-thr{
				background: url(../img/section-tab-item-thr.jpg) no-repeat;
				background-size: cover;
			}
		}
	}

	#section-wish{
		clear: both;
		padding-top: 100px;
		padding-bottom: 100px;
		text-align: center;
		h3{
			height: 50px;
			line-height: 50px;
			font-size: 20px;
		}

		p{
			color: #aaaaaa;
			font-size: 12px;
			width: 430px;
			line-height: 22px;
			margin: 0 auto;
		}

	}

	#wish-form-box{
		width: 1000px;
		margin: 0 auto;
		overflow: hidden;
		zoom: 1;
		padding-bottom: 150px;
		.wish-form-news{
			width: 312px;
			float: left;
			dt{
				height: 40px;
				line-height: 40px;
				font-size: 14px;
				
				font-weight: bold;
				a{
					color: #231916;
				}
			}

			dd{
				line-height: 22px;
				a{
					color: #231916;
				}

				&.more{
					text-align: right;
					i{
						color: #a6a6a7;
						margin-right: 5px;
					}
				}
			}
		}

		.wish-contact{
			width: 1000px-350;
			float: right;
			label{
				font-weight: bold;
			}
			.wish-contact-dleft{
				width: 312px;
				height: 230px;
				label{
					color: #231916;
					padding-left: 10px;
					font-size: 12px;
					margin-bottom: 20px;
					display: block;
				}
				#username{
					padding-bottom: 20px;
					input{
						border: none;
						background: #ededee;
						width: 300px;
						padding-left: 10px;
						height: 40px;
						line-height: 40px;
					}

				}

				textarea{
					height: 100px;
					width: 310px;
					border: none;
				}
			}

			.wish-contact-dright{
				padding-left: 22px;
				width: 290px;
				height: 230px;
				
				div{
					padding-bottom: 8px;

					input{
						width: 200px;
						height: 30px;
						line-height: 30px;
						padding-left: 10px;
						border: none;
					}
				}
			}
			.submit-box{
				text-align: center;
				input{
					background: none;
					border: none;
					text-align: center;
					font-size: 14px;
					cursor: pointer;

				}
			}
		}
	}

}


#footer{
	height: 415px;
	clear: both;
	overflow: hidden;
	zoom: 1;
	.footer-top{
		height: 355px;
		background: #33363f;
		
		h3{
			text-align: center;
			color: #fff;
			padding-top: 90px;
			font-size: 21px;
			height: 22px;
			line-height: 22px;
			padding-bottom: 10px;
		}
		p{
			color: #FFF;
			width: 460px;
			text-align: center;
			margin: 0 auto;
			line-height: 18px;
		}

		#copyright-text{
			width: 414px;
			border: 1px solid #9d9697;
			height: 38px;
			line-height: 38px;
			padding-left: 14px;
			color: #aaaaaa;
			float: left;
		}

		#copyright-submit{
			width: 79px;
			height: 40px;
			line-height: 40px;
			border: none;
			background: #696266;
			color: #fff;
			float: left;
		}

		.copyright-form{
			width: 430+79px;
			clear: both;
			zoom: 1;
			margin: 0 auto;
			padding-top: 30px;
			overflow: hidden;
		}

		.copyright-link{
			text-align: center;
			padding-top: 30px;
			i{
				display: inline-block;
				width: 30px;
				height: 30px;
				background: url(../images/icon.png) no-repeat;
				
				margin-right: 20px;
				a{
					display:block;
					width: 100%;
					height: 100%;
					position: relative;
					text-indent: -9999em;
				}
				&.qq{
					background-position: -35px -365px;
				}

				&.weibo{
					background-position: -85px -365px;
				}

				&.twitter{
					background-position: -145px -365px;
				}

				&.facebook{
					background-position: -192px -365px;
				}
			}
		}
	}

	.footer-copyright{
		height: 60px;
		background: #303039;

		.copyright-inner{
			width: 1100px;
			margin: 0 auto;
			height: 60px;
			line-height: 60px;
			p{
				color: #FFF;

				&.f-fr{
					cursor: pointer;
				}
			}
		}
	}
}