@charset "UTF-8";
/* 重置 */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th {
  text-align: left;
  font-weight: normal; }

html, body, fieldset, img, iframe, abbr {
  border: 0; }

i, cite, em, var, address, dfn {
  font-style: normal; }

[hidefocus], summary {
  outline: 0; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

sup, sub {
  font-size: 83%; }

pre, code, kbd, samp {
  font-family: inherit; }

q:before, q:after {
  content: none; }

textarea {
  overflow: auto;
  resize: none; }

label, summary {
  cursor: default; }

a, button {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

del, ins, u, s, a, a:hover {
  text-decoration: none; }

body, textarea, input, button, select, keygen, legend {
  font: 12px/1.5 Arial,"Hiragino Sans GB W3","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
  color: #333;
  outline: 0; }

body {
  background: #fff; }

a, a:hover {
  color: #333; }

/* 功能操作 */
.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

.f-cb, .f-cbli li {
  zoom: 1; }

.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.f-dn {
  display: none; }

.f-db {
  display: block; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-pr {
  position: relative; }

.f-prz {
  position: relative;
  zoom: 1; }

.f-oh {
  overflow: hidden; }

.f-ff0 {
  font-family: arial,\5b8b\4f53; }

.f-ff1 {
  font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53; }

.f-fs1 {
  font-size: 12px; }

.f-fs2 {
  font-size: 14px; }

.f-fwn {
  font-weight: normal; }

.f-fwb {
  font-weight: bold; }

.f-tal {
  text-align: left; }

.f-tac {
  text-align: center; }

.f-tar {
  text-align: right; }

.f-taj {
  text-align: justify;
  text-justify: inter-ideograph; }

.f-vam, .f-vama * {
  vertical-align: middle; }

.f-wsn {
  word-wrap: normal;
  white-space: nowrap; }

.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }

.f-ti {
  overflow: hidden;
  text-indent: -30000px; }

.f-ti2 {
  text-indent: 2em; }

.f-lhn {
  line-height: normal; }

.f-tdu, .f-tdu:hover {
  text-decoration: underline; }

.f-tdn, .f-tdn:hover {
  text-decoration: none; }

.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

.f-csp {
  cursor: pointer; }

.f-csd {
  cursor: default; }

.f-csh {
  cursor: help; }

.f-csm {
  cursor: move; }

.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

body {
  background: #2b2f3d; }

#header {
  height: 56px;
  background: #2289bf;
  position: relative; }
  #header h1 {
    width: 40px;
    height: 40px;
    background: url(../images/sprite.png) no-repeat -53px -58px;
    float: left;
    position: relative;
    text-indent: -9999em;
    margin-top: 12px;
    margin-left: 50px; }
  #header .user-action {
    float: right;
    padding-right: 90px;
    width: 400px; }
    #header .user-action .search {
      position: relative;
      margin-top: 10px;
      float: left;
      background: url(../images/sprite.png) no-repeat -52px -262px;
      width: 320px;
      height: 36px; }
      #header .user-action .search #search-input {
        position: absolute;
        width: 250px;
        height: 20px;
        line-height: 20px;
        right: 20px;
        top: 8px;
        border: none;
        background: none; }
      #header .user-action .search #serach-submit {
        position: absolute;
        width: 50px;
        height: 30px;
        top: 2px;
        left: 0px;
        background: none;
        border: none; }
    #header .user-action .user-login {
      float: right;
      font-size: 12px;
      color: #FFF;
      height: 56px;
      line-height: 56px;
      position: relative;
      padding-left: 25px;
      margin-left: 15px; }
      #header .user-action .user-login i {
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(../images/sprite.png) no-repeat -177px -60px;
        position: absolute;
        top: 15px;
        left: 0; }
      #header .user-action .user-login a {
        color: #FFF; }

#container #container-wrap {
  position: relative; }
  #container #container-wrap #container-nav {
    position: absolute;
    width: 265px;
    left: 0;
    top: 0; }
  #container #container-wrap #container-main {
    padding-bottom: 50px;
    background: #eeeeed;
    margin-left: 265px; }
    #container #container-wrap #container-main .main-header-nav {
      height: 30px;
      line-height: 30px;
      background: #FFF;
      color: #abaaaa;
      padding-left: 30px; }
      #container #container-wrap #container-main .main-header-nav span {
        color: #abaaaa; }
        #container #container-wrap #container-main .main-header-nav span.curent {
          color: #6898c2; }
        #container #container-wrap #container-main .main-header-nav span a {
          color: #abaaaa; }

.nav-header .nav-user-photo {
  position: relative;
  margin-top: 15px;
  padding-left: 40px; }
  .nav-header .nav-user-photo .nav-user-photo-wrap {
    position: absolute;
    left: 40px;
    top: 0;
    width: 64px;
    height: 64px;
    background: url(../images/sprite.png) no-repeat -295px -31px;
    z-index: 9999; }
  .nav-header .nav-user-photo .nav-user-photo-wrapper {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 40px;
    top: 0;
    z-index: 1;
    overflow: hidden; }
    .nav-header .nav-user-photo .nav-user-photo-wrapper img {
      width: 100%; }
  .nav-header .nav-user-photo h3 {
    height: 64px;
    line-height: 64px;
    padding-left: 74px;
    color: #FFF;
    font-size: 16px; }

.nav-header .user-property {
  overflow: hidden;
  width: 100%;
  padding-left: 40px;
  zoom: 1;
  height: 90px; }
  .nav-header .user-property ol {
    width: 75px;
    float: left;
    color: #6e8095;
    border-right: 1px solid #6e8095;
    margin: 20px 0; }
    .nav-header .user-property ol.noneborder {
      border-right: none; }
    .nav-header .user-property ol li {
      text-align: center; }
      .nav-header .user-property ol li.title {
        font-size: 16px;
        height: 30px;
        line-height: 30px; }
      .nav-header .user-property ol li.intro {
        font-size: 12px;
        height: 20px;
        line-height: 20px; }

.nav-header .nav-menu-item {
  padding-left: 40px;
  margin-bottom: 25px;
  color: #6e8095; }
  .nav-header .nav-menu-item.active {
    background: #393d4e; }
    .nav-header .nav-menu-item.active dl {
      display: block; }
  .nav-header .nav-menu-item a {
    color: #6e8095; }
  .nav-header .nav-menu-item h3 {
    background: url(../images/sprite.png) no-repeat;
    padding-left: 40px;
    height: 30px;
    line-height: 30px;
    cursor: pointer; }
  .nav-header .nav-menu-item.nav-report h3 {
    background-position: -422px -30px; }
  .nav-header .nav-menu-item.nav-favorites h3 {
    background-position: -422px -58px; }
  .nav-header .nav-menu-item.nav-share h3 {
    background-position: -422px -88px; }
  .nav-header .nav-menu-item.nav-gallery h3 {
    background-position: -422px -58px; }
  .nav-header .nav-menu-item.nav-grow h3 {
    background-position: -422px -58px; }
  .nav-header .nav-menu-item.nav-account h3 {
    background-position: -422px -204px; }
  .nav-header .nav-menu-item dl {
    margin-left: 42px;
    display: none; }
    .nav-header .nav-menu-item dl.active dt span {
      background: url(../images/sprite.png) no-repeat -475px -185px;
      display: inline-block;
      width: 12px;
      height: 20px;
      margin-top: 7px;
      float: left; }
    .nav-header .nav-menu-item dl.active dd {
      display: block; }
    .nav-header .nav-menu-item dl dt {
      height: 30px;
      line-height: 30px;
      cursor: pointer; }
      .nav-header .nav-menu-item dl dt span {
        background: url(../images/sprite.png) no-repeat -475px -155px;
        display: inline-block;
        width: 12px;
        height: 20px;
        margin-top: 7px;
        float: left; }
      .nav-header .nav-menu-item dl dt i {
        background: url(../images/sprite.png) no-repeat -410px -155px;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 7px;
        float: left; }
    .nav-header .nav-menu-item dl dd {
      clear: both;
      height: 30px;
      line-height: 30px;
      margin-left: 30px;
      display: none; }
      .nav-header .nav-menu-item dl dd i {
        background: url(../images/sprite.png) no-repeat -443px -237px;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-top: 4px;
        float: left; }

.nav-header .active h3 {
  color: #FFF; }

.nav-header .active dl.active dt {
  color: #FFF; }
  .nav-header .active dl.active dt i {
    background: url(../images/sprite.png) no-repeat -443px -155px; }

.nav-header .active dl.active dd.active {
  color: #FFF; }
  .nav-header .active dl.active dd.active a {
    color: #FFF; }
  .nav-header .active dl.active dd.active i {
    background: url(../images/sprite.png) no-repeat -443px -185px;
    margin-top: 9px; }

.main {
  padding: 20px 50px 0 50px; }
  .main .main-search-row {
    border: 1px solid #c8c6ca;
    background: #FFF;
    height: 84px; }
  .main .main-search-col {
    margin-left: 38px;
    height: 84px;
    float: left; }
  .main .main-search-col-1 {
    width: 13.51351%; }
    .main .main-search-col-1 .custom-select {
      float: left;
      *float: none;
      width: 52.38095%;
      width: 52.38095% \9; }
  .main .main-search-col-2 {
    width: 21.3964%;
    position: relative; }
    .main .main-search-col-2 .custom-select {
      float: left;
      *float: none;
      width: 59.375%; }
    .main .main-search-col-2 .custom-select-2 {
      z-index: 9999; }
    .main .main-search-col-2 .main-search-col-item-1 {
      padding-top: 8px; }
    .main .main-search-col-2 .exchange {
      background: url(../images/sprite.png) no-repeat -315px -205px;
      width: 35px;
      height: 40px;
      position: absolute;
      top: 24px;
      left: 75%; }
  .main .main-search-col-3 {
    width: 32.65766%; }
    .main .main-search-col-3 .custom-select-hoz {
      float: left;
      clear: none; }
    .main .main-search-col-3 .custom-select-hoz-1 {
      width: 40%; }
    .main .main-search-col-3 .custom-select-hoz-2 {
      width: 60%; }
    .main .main-search-col-3 .custom-select {
      float: left;
      *float: none;
      width: 66%;
      width: 52.38095% \9; }
    .main .main-search-col-3 .main-search-col-item-row {
      clear: both; }
    .main .main-search-col-3 .main-search-col-item-1 {
      padding-top: 8px; }
    .main .main-search-col-3 .deal-select {
      width: 49%;
      width: 50%\9; }
    .main .main-search-col-3 .custom-select-2 {
      z-index: 9999;
      width: 67%\9; }
  .main .main-search-col-4 {
    width: 7.88288%;
    position: relative; }
    .main .main-search-col-4 input {
      background: #388ac1;
      border: none;
      border-radius: 5px;
      width: 50px;
      height: 25px;
      line-height: 25px;
      cursor: pointer;
      color: #FFF;
      position: absolute;
      top: 50%;
      margin-top: -12.5px;
      left: 0; }

.main-search-col-item {
  padding-top: 15px;
  clear: both; }
  .main-search-col-item span {
    float: left;
    height: 22px;
    line-height: 22px;
    display: block;
    padding-right: 10px; }

.custom-select {
  z-index: 1;
  position: relative;
  height: 22px;
  border: 1px solid #c8c6ca;
  margin-right: 10px; }
  .custom-select:hover ul {
    display: block; }
  .custom-select span {
    position: absolute;
    right: 0;
    top: 6px;
    height: 12px;
    width: 12px;
    background: url(../images/sprite.png) no-repeat -240px -185px;
    padding-right: 3px; }
  .custom-select p {
    position: absolute;
    width: 97%;
    height: 22px;
    line-height: 22px;
    left: 0;
    top: 0;
    padding-left: 3%;
    overflow: hidden; }
  .custom-select ul {
    z-index: 9999;
    display: none;
    position: absolute;
    width: 100%;
    background: #FFF;
    top: -1px;
    left: -1px;
    border: 1px solid #c8c6ca; }
    .custom-select ul li {
      padding-left: 3%;
      width: 97%;
      overflow: hidden;
      height: 22px;
      line-height: 22px;
      background: #FFF;
      cursor: pointer; }

.datecalender {
  border: 1px solid #c8c6ca;
  width: 52%;
  padding: 0 0 0 5px;
  margin: 0 10px 0 0;
  height: 22px;
  line-height: 22px;
  float: left; }

.scroll-box {
  position: relative;
  margin-top: 10px; }
  .scroll-box .scroll-wrap {
    width: 84.83146%;
    height: 65px;
    position: relative; }
    .scroll-box .scroll-wrap .srcoll-arrow {
      height: 65px;
      width: 3.14607%;
      background: #FFF;
      border: 1px solid #c8c6ca;
      text-align: center;
      font-size: 36px;
      color: #c8c6ca;
      cursor: pointer;
      position: absolute;
      top: 0; }
      .scroll-box .scroll-wrap .srcoll-arrow.left {
        left: 0; }
      .scroll-box .scroll-wrap .srcoll-arrow.right {
        right: 0; }
    .scroll-box .scroll-wrap .scroll-box-inner {
      width: 93.50993%;
      height: 65px;
      margin: 0 auto;
      zoom: 1; }
      .scroll-box .scroll-wrap .scroll-box-inner .srcoll-box-item {
        width: 14.66667%;
        margin: 0 1%;
        *margin: 0 0.82%;
        background: #FFF;
        box-sizing: border-box;
        border: 1px solid #c8c6ca;
        height: 67px;
        *height: 65px;
        float: left;
        text-align: center; }
        .scroll-box .scroll-wrap .scroll-box-inner .srcoll-box-item.active {
          border-top: 2px solid #388ac1;
          *height: 64px; }
        .scroll-box .scroll-wrap .scroll-box-inner .srcoll-box-item p {
          height: 20px;
          line-height: 20px;
          font-size: 14px;
          padding-top: 8px; }
        .scroll-box .scroll-wrap .scroll-box-inner .srcoll-box-item h3 {
          color: #ec6500;
          font-size: 18px; }
          .scroll-box .scroll-wrap .scroll-box-inner .srcoll-box-item h3 i {
            font-size: 12px; }
  .scroll-box .scroll-calender {
    position: absolute;
    right: 0;
    top: 0;
    width: 14.38202%;
    border: 1px solid #c8c6ca;
    height: 65px;
    background: #FFF; }
    .scroll-box .scroll-calender h3 {
      text-align: center;
      height: 40px;
      line-height: 40px;
      padding-top: 10px;
      width: 95px;
      margin: 0 auto; }
      .scroll-box .scroll-calender h3 i {
        display: inline-block;
        width: 40px;
        float: left;
        height: 40px;
        background: url(../images/sprite.png) no-repeat -50px -140px; }

.card-box {
  clear: both;
  padding-top: 10px; }
  .card-box h3 {
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 5px; }
  .card-box dl {
    width: 22.47191%;
    height: 70px;
    border: 1px solid #c8c6ca;
    background: #FFF;
    box-sizing: border-box;
    margin-right: 3.37079%;
    *margin-right: 2.12%;
    display: inline;
    float: left;
    position: relative; }
    .card-box dl dt {
      position: absolute;
      top: 12px;
      right: 20px;
      width: 60px;
      height: 45px; }
    .card-box dl dd {
      padding-left: 10px; }
      .card-box dl dd.title {
        height: 30px;
        line-height: 30px;
        padding-top: 5px;
        font-size: 14px;
        font-weight: bold; }
      .card-box dl dd.intro {
        color: #c8c6ca; }
    .card-box dl.card-box-item-1 {
      border-left: 2px solid #44b29e; }
      .card-box dl.card-box-item-1 dt {
        background: #44b29e; }
    .card-box dl.card-box-item-2 {
      border-left: 2px solid #388ac1; }
      .card-box dl.card-box-item-2 dt {
        background: #388ac1; }
    .card-box dl.card-box-item-3 {
      border-left: 2px solid #d04b36; }
      .card-box dl.card-box-item-3 dt {
        background: #d04b36; }
    .card-box dl.card-box-item-4 {
      border-left: 2px solid #e2cd47;
      margin-right: 0; }
      .card-box dl.card-box-item-4 dt {
        background: #e2cd47; }

.panel-box {
  padding-top: 15px;
  clear: both;
  overflow: hidden;
  zoom: 1; }

.panel-item {
  width: 59.55056%;
  height: 360px;
  background: #FFF;
  float: left;
  margin-bottom: 15px;
  border: 1px solid #c8c6ca;
  border-radius: 5px;
  box-shadow: -1px -1px 1px #aaa; }
  .panel-item h3 {
    background: #f4f5f6;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #c8c6ca;
    padding-left: 20px;
    font-size: 14px;
    color: #aaaaaa; }

.panel-item-small {
  width: 39.10112%;
  float: right; }

.panel-item-small-right {
  width: 39.10112%;
  float: left;
  margin-right: 0; }

.panel-item-right {
  float: right; }

.panel-container {
  padding: 15px 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 286px;
  box-sizing: border-box;
  position: relative; }
  .panel-container table {
    border: 1px solid #c8c6ca;
    width: 100%;
    text-align: center;
    border-radius: 5px; }
    .panel-container table td {
      border: 1px solid #c8c6ca; }
    .panel-container table th {
      border: 1px solid #c8c6ca;
      text-align: center; }
      .panel-container table th.align-left {
        text-align: left;
        padding-left: 25px; }
    .panel-container table tr {
      height: 30px;
      vertical-align: middle; }
    .panel-container table td.align-left {
      text-align: left;
      padding-left: 25px;
      position: relative; }
    .panel-container table td .brandbar {
      top: 10px;
      width: 50%;
      display: inline-block;
      height: 4px;
      background: #dcdcdc;
      position: absolute;
      left: 30%; }
      .panel-container table td .brandbar i {
        position: relative;
        left: 0;
        top: 0;
        height: 4px;
        background: #7fcbf0;
        display: inline-block; }
      .panel-container table td .brandbar.brandbar-1 i {
        background: #ed6e52; }
      .panel-container table td .brandbar.brandbar-2 i {
        background: #ef8150; }
      .panel-container table td .brandbar.brandbar-3 i {
        background: #f19f4f; }

.panel-tab-box {
  padding: 25px 30px; }
  .panel-tab-box .panel-tab-head {
    position: relative;
    margin-bottom: -1px; }
    .panel-tab-box .panel-tab-head span {
      position: relative;
      z-index: 9999;
      display: inline-block;
      width: 16.32653%;
      background: #ededf0;
      border-radius: 5px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      height: 26px;
      line-height: 26px;
      text-align: center;
      border: 1px solid #FFF;
      cursor: pointer;
      box-sizing: border-box;
      border: 1px solid #FFF;
      border-bottom: 1px solid #c8c6ca; }
      .panel-tab-box .panel-tab-head span.active {
        background: #FFF;
        border: 1px solid #c8c6ca;
        border-bottom: 1px solid #FFF; }
      .panel-tab-box .panel-tab-head span:hover {
        background: #FFF;
        border: 1px solid #c8c6ca;
        border-bottom: 1px solid #FFF; }
  .panel-tab-box .panel-tab-container {
    border: 1px solid #c8c6ca;
    border-radius: 2px;
    border-top-left-radius: 0;
    padding: 25px 35px; }
    .panel-tab-box .panel-tab-container table {
      width: 100%;
      border: 1px solid #c8c6ca; }
      .panel-tab-box .panel-tab-container table td {
        border: 1px solid #c8c6ca;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        overflow: hidden;
        width: 15.60976%; }
        .panel-tab-box .panel-tab-container table td p {
          width: 100%;
          height: 30px;
          line-height: 30px;
          overflow: hidden; }
        .panel-tab-box .panel-tab-container table td:hover {
          background: #c8c6ca; }

.panel-summary {
  padding: 10px 35px; }
  .panel-summary .panel-summary-item {
    border-bottom: 1px solid #c8c6ca;
    padding-left: 15px;
    box-sizing: border-box;
    padding-bottom: 4px;
    padding-top: 8px; }
    .panel-summary .panel-summary-item.panel-summary-item-left {
      width: 40%;
      float: left;
      border-right: 1px solid #c8c6ca; }
    .panel-summary .panel-summary-item.panel-summary-item-right {
      width: 60%;
      float: left; }
    .panel-summary .panel-summary-item.panel-summary-item-clear {
      clear: both;
      height: 120px; }
    .panel-summary .panel-summary-item h4 {
      color: #c3c2c2;
      height: 20px;
      line-height: 20px; }
    .panel-summary .panel-summary-item p {
      color: #535354;
      height: 20px;
      line-height: 20px; }
  .panel-summary .panel-summary-footer {
    border-bottom: none;
    overflow: hidden; }
    .panel-summary .panel-summary-footer label {
      float: left;
      padding-top: 3px; }
      .panel-summary .panel-summary-footer label input {
        width: auto;
        height: auto;
        float: none;
        margin-right: 5px; }
    .panel-summary .panel-summary-footer input {
      background: #388ac1;
      border: none;
      border-radius: 5px;
      width: 50px;
      height: 25px;
      line-height: 25px;
      cursor: pointer;
      color: #FFF;
      float: right; }

.panel-calender {
  padding: 0 10px; }
  .panel-calender .panel-calender-box table {
    width: 100%; }
    .panel-calender .panel-calender-box table thead {
      border-top: 1px solid #b2cfed;
      border-bottom: 1px solid #c8c6ca; }
    .panel-calender .panel-calender-box table th, .panel-calender .panel-calender-box table td {
      color: #000;
      height: 42px;
      box-sizing: border-box;
      text-align: center;
      vertical-align: middle; }
    .panel-calender .panel-calender-box table td {
      width: 14.28571%;
      box-sizing: border-box;
      cursor: pointer; }
      .panel-calender .panel-calender-box table td i {
        display: block; }
      .panel-calender .panel-calender-box table td span {
        display: block; }
      .panel-calender .panel-calender-box table td.vacation i {
        color: #c9161e; }
      .panel-calender .panel-calender-box table td.festival span {
        color: #c9161e; }
      .panel-calender .panel-calender-box table td:hover {
        border: 1px solid #f8d165; }

.panel-calender-operaction {
  position: relative;
  z-index: 9999;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 22px;
  zoom: 1; }

.calender-operaction-item {
  width: 20%;
  float: left; }

.calender-month {
  width: 30%; }

.calender-mark {
  width: 30%; }

.calender-back .custom-select {
  margin-right: 0; }
  .calender-back .custom-select p {
    text-align: center;
    padding-left: 0;
    cursor: pointer; }
