@import '_mobile_reset.scss';

$header: #91d4da;
$white: #FFF;
$textcolor: #656565;
body{
	background: #f8f8f8;
}
header{
	background: $header;
	color: $white;
	height: 56px;
	line-height: 56px;
	text-align: center;
	position: relative;
	font-size: 22px;
	
	span{
		position: absolute;
		left: .05rem;
		width: 70px;
		height: 56px;
		top: 0;
		font-size: 14px;
		font-weight: bold;
		i{
			display: inline-block;
			font-size: 30px;
			font-weight: bold;
			position: absolute;
			left: -10px;
			top: 0;
		}
		label{
			position: absolute;
			left: 18px;
			top: -1px;
			font-weight: normal;
			font-size: 18px;
		}
	}
}

nav#navigation{
	height: 57px;
	ul{
		display: flex;
		width: 100%;
		height: 100%;
		li{
			flex: 1;
			text-align: center;
			box-sizing: border-box;
			height: 57px;
			line-height: 57px;
			&.active{
				border-bottom: 2px solid $header;
			}
			a{
				color: $textcolor;
				font-size: 16px;
			}
		}
	}
}


.item{
	padding:2%;
	background: #fff;
	margin-bottom: .15rem;
	a{
		color: #5b5b5b;
	}
	&#menu{
		section{
			display: flex;
			border-bottom: 1px solid #dedede;
			padding-top: .1rem;
			
			dl{
				flex: 1;
				dt{
					img{
						width: 80%;
						margin: 0 auto;
						display: block;
						margin: 0 auto;
					}
				}
				dd{
					height: 50px;
					line-height: 50px;
					text-align: center;
				}
			}

			&.bottom{
				border-bottom: none;
				margin-top: .2rem;
				padding-bottom: .15rem;
				dl{
					border-right: 1px solid #e5e5e5;
					
					dd{
						height: 36px;
						line-height: 36px;
						&.title{
							font-weight: bold;
							font-size: 22px;
						}
						&.intro{
							font-size: 14px;
							color: #5b5b5b;
							height: 26px;
							line-height: 26px;
						}
					}
					&:last-child{
						border-right: none;
					}
				}
			}
		}
	}
}

.item-module{
	h2{
		height: 40px;
		line-height: 40px;
		color: #676767;
		font-size: 18px;
		border-bottom: 1px solid #ebebeb;
	}

	dl{
		position: relative;
		height: 110px;
		padding-left: 100px;
		box-sizing: border-box;
		margin: .12rem 0 .05rem 0;
		overflow: hidden;
		dt{
			position: absolute;
			top: 0;
			left: 0;
			img{
				width: 100px;
				height: 100px;
				border: 1px solid #fccd7b;
				border-radius: 3px;
			}
		}

		dd{
			width: 45%;
			float: left;
			height: 45px;
			line-height: 45px;
			background: #f8f8f8;
			margin-bottom: .1rem;
			margin-left: 5%;
			box-sizing: border-box;
			text-align: center;
			border-radius: 1px;
			a{
				color: #494949;
			}
		}
	}
}

.item-module-news{
	margin-bottom: 0;
	border-bottom: 1px solid #f4f4f4;
	padding-top: .12rem;
	padding-bottom: .12rem;
	dl{
		position: relative;
		height: 90px;
		dt{
			position: absolute;
			top: 0;
			left: 0;
			img{
				width: 110px;
				height: 90px;
				border-radius: 5px;
			}
		}

		dd{
			padding-left: 120px;
			&.title{
				height: 60px;
				line-height: 30px;
				overflow: hidden;
				font-size: 18px;
				a{
					color: #666666;
				}
			}
			&.source{
				color: #c8c8c8;
				font-size: 12px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				width: 100%;
				box-sizing: border-box;
				i{
					margin-left: 5px;
				}
			}
			
		}
	}
}

.item-module-news-horizontal{
	padding-top: .05rem;
	dl{
		height: auto;
		padding-bottom: 40px;
		dt{
			font-size: 18px;
			height: 40px;
			line-height: 40px;
			position: relative;
			a{
				color: #666666;
			}
		}
		dd{
			display: flex;
			padding-left: 2.5%;
			box-sizing: border-box;
			&.thumb{
				padding-left: 0;
			}
			&.source{
				padding-left: 0;
			}
			a{
				flex: 1;
				text-align: center;
				img{
					width: 100%;
					padding-left: 2.5%;
					padding-right: 2.5%;
					border-radius: 3px;
					box-sizing: border-box;
					margin: 0 auto;
				}
			}
		}
	}

}
