			body{
				font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
			}
			#product-list-status{
				position: relative;
			}
			
			#product-list-status label{
				font-size: 0.8rem;
				top: -14px;
			}

			.pagination-box{
				clear: both;
				overflow: hidden;
				zoom: 1;
				padding-top: 20px;
			}
			
			.pagination{
				float: right;
			}


			#product-off-wrap td label{
				top: 5px;
			}

			#product-off-wrap .product-off-handle{
				display: inline-block;
				padding-top: 10px;
			}

			#product-off-wrap .product-off-handle button:first-child{
				margin-right: 10px;
			}


			#order-moder-table-box{
				position: relative;
				overflow-x: scroll;
			}
			#order-moder-table-wrap{
				width: 1300px;
			}

			#order-billionconnect-table-box{
				position: relative;
				overflow-x: scroll;
			}
			#order-billionconnect-table-wrap{
				width: 2000px;
			}


			#product-add-input-item{
				position: relative;
			}

			#product-add-input-item label{
				top: -14px;
				font-size: 0.8rem;
			}

			#product-add-file-field{
				height: 76px;
			}

			#product-add-file-field{
				position: relative;
			}

			#product-add-file-field label{
			}












			#product-add-file-field .file-field{
				left: 60px;
			}

			span.badge.new:after{
          content: " ";
      }
			span.badge{
				position: relative;
				right: 0;
			}
      span.badge label{
      		font-style: normal;
      		color: #FFF;
      		padding-left: 3px;
      		padding-right: 3px;
      		margin-left: 5px;
      }


